In [1]:
import pandas as pd

In [2]:
folder = '/home/manikaran/M.tech/Minor project/data/CSR_NEW_FILES'

In [3]:
parties_in_nda = [
 'All India N.R. Congress',
 'Apna Dal',
 'Bharatiya Janta Party',
 'Janata Dal (United)',
 'Lok Jan Shakti Party',
 'Naga Peoples Front',
 "National People's Party",
 'Pattali Makkal Katchi',
 'Rashtriya Lok Samta Party',
 'Shiromani Akali Dal',
 'Shiv Sena',
 'Swabhimani Paksha',
 'Telugu Desam']

In [4]:
districtsDf = pd.read_csv('/home/manikaran/M.tech/Minor project/data/CSR_Districts_AspirantDistricts.csv')
districtsDf.head()

   Unnamed: 0                State              District  Aspirant_District
0           0  Andaman and Nicobar               Nicobar                  0
1           1  Andaman and Nicobar  North Middle Andaman                  0
2           2  Andaman and Nicobar         South Andaman                  0
3           3       Andhra Pradesh             Anantapur                  0
4           4       Andhra Pradesh              Chittoor                  0

In [5]:
RS_MPLAD_df = pd.read_csv('/home/manikaran/M.tech/Minor project/data/MPLADS/RajyaSabha2014MPLAD.csv')
RS_MPLAD_df.dropna(inplace=True)
RS_MPLAD_df.head()

,Unnamed: 0,Minister,state,MPLAD_District,CSR District,ministries
0,0,Arun Jaitley,Gujarat,Nadiad,Kheda,"[21,16,19]"
1,1,Piyush Goyal,Maharashtra,Mumbai City,Mumbai City,"[18,38,10]"
2,2,Nirmala Sitharaman,Andhra Pradesh,West Godavari,West Godavari,[43]
3,3,Prakash Javadekar,Madhya Pradesh,Chhindwara,Chhindwara,[48]
4,4,Venkaiah Naidu,Karnataka,Bengalore Urban,Bangalore Urban,"[35,45]"

In [6]:
#tempDf = districtsDf.merge(RS_MPLAD_df, how='left', left_on=['District', 'State'], right_on=['CSR District', 'state'])
#districtsDf = tempDf[['State', 'District', 'Aspirant_District', 'Minister', 'ministries']]
#districtsDf.columns = ['State', 'District', 'Aspirant_District', 'MPLAD_RajyaSabhaMinister', 'MPLAD_Ministries']
#districtsDf['MPLAD_Ministries'] = districtsDf['MPLAD_Ministries'].fillna('[]')
#districtsDf.head()

In [7]:
matrixDf = pd.read_csv('{}/20_SECTORS_MINISTRY_MATRIX.csv'.format(folder), delimiter='\t')
matrixDf.fillna('0', inplace=True)
matrixDf.rename(mapper={'Unnamed: 0': 'SectorCode'}, inplace=True, axis=1)
matrixDf.drop('Unnamed: 1', inplace=True, axis=1)
matrixDf.drop(0, inplace=True)
matrixDf['SectorCode'] = matrixDf['SectorCode'].astype(int)
#matrixDf['SectorCode'] = matrixDf['SectorCode'].apply(lambda x:  '{0:0>2}'.format(str(int(x))))
matrixDf.head()

   SectorCode  1  2  3  4  5  6  7  8  9 ... 43 44 45 46 47 48 49 50 51 52
1           1  0  0  0  0  0  0  0  1  1 ...  0  1  0  0  0  0  0  0  0  0
2           2  1  1  0  0  0  1  0  1  1 ...  0  0  0  1  0  0  0  0  0  0
3           3  0  0  0  0  0  0  0  0  0 ...  0  0  0  0  0  1  0  0  0  0
4           4  0  0  0  0  0  0  0  0  0 ...  0  0  0  0  0  0  0  0  0  0
5           5  0  0  0  0  0  0  0  0  0 ...  0  0  0  0  0  0  0  0  0  0

[5 rows x 53 columns]

In [8]:
ministersDf = pd.read_csv('{}/ministers2014-15Final.csv'.format(folder))
ministersDf['isMPMinister'] = [1]*ministersDf.shape[0]
ministersDf['LokSabhaConstituency'] = ministersDf['LokSabhaConstituency'].apply(str.upper)
ministersDf.head()

,Unnamed: 0,ministers,ministry,minCode,LokSabhaConstituency,isMPMinister
0,0,Col Rajyavardhan Singh Rathore (Retd.) AVSM,['Information and Broadcasting'],[19.0],JAIPUR RURAL,1
1,1,Dr. Harsh Vardhan,"['Science and Technology', 'Earth Sciences']","[6.0, 23.0]",CHANDNI CHOWK,1
2,2,Dr. Jitendra Singh,['Development of North Eastern Region (Indepen...,"[20.0, 39.0, 8.0]",UDHAMPUR,1
3,3,Dr. Mahesh Sharma,"['Tourism (Independent Charge)', 'Culture (Ind...","[14.0, 2.0, 36.0]",GAUTAM BUDHHA NAGAR,1
4,4,Dr. Sanjeev Kumar Balyan,['Agriculture'],[37.0],MUZAFFARNAGAR,1

In [9]:
#district to constituency mapping
'''data = []
for i in range(ministersDf.shape[0]):
    if not pd.isna(ministersDf.iloc[i]['CSR_District']):
        dis = eval(ministersDf.iloc[i]['CSR_District'])
        for d in dis:
            data.append([d, ministersDf.iloc[i]['State'], ministersDf.iloc[i]['Constituency']])
districtToMinConstDf = pd.DataFrame(data)
districtToMinConstDf.columns = ['district', 'state', 'constituency']
districtToMinConstDf.head()'''

"data = []\nfor i in range(ministersDf.shape[0]):\n    if not pd.isna(ministersDf.iloc[i]['CSR_District']):\n        dis = eval(ministersDf.iloc[i]['CSR_District'])\n        for d in dis:\n            data.append([d, ministersDf.iloc[i]['State'], ministersDf.iloc[i]['Constituency']])\ndistrictToMinConstDf = pd.DataFrame(data)\ndistrictToMinConstDf.columns = ['district', 'state', 'constituency']\ndistrictToMinConstDf.head()"

In [10]:
districtsToConstDf = pd.read_csv('{}/districtsWithConstDetails.csv'.format(folder))
districtsToConstDf['State'] = districtsToConstDf['State'].map(str.upper)
districtsToConstDf['District'] = districtsToConstDf['District'].map(str.upper)

#adding ministers info in district to loksabha constituency dataframe
tempDf = pd.DataFrame(ministersDf)
tempDf['LokSabhaConstituency'] = tempDf['LokSabhaConstituency'].map(lambda x: x.upper().strip())
districtsToConstDf = districtsToConstDf.merge(tempDf[['isMPMinister', 'ministry', 'minCode', 'LokSabhaConstituency']], how='left', on='LokSabhaConstituency')
districtsToConstDf['isMPMinister'] = districtsToConstDf['isMPMinister'].fillna(0)
districtsToConstDf.rename(mapper={'ministry':'LokSabha_Ministry', 'minCode':'LokSabha_MinCode'}, axis=1, inplace=True)
districtsToConstDf['LokSabha_MinCode'] = districtsToConstDf['LokSabha_MinCode'].fillna('[]')
districtsToConstDf['LokSabha_Ministry'] = districtsToConstDf['LokSabha_Ministry'].fillna('[]')
districtsToConstDf['Margin %'] = districtsToConstDf['Margin %'].map(lambda x: x.rstrip(' %') if not pd.isna(x) else x)
districtsToConstDf.head()

,Unnamed: 0,District,State,LokSabhaConstituency,Constituency,No,Type,Winning Candidate,Party,Electors,Votes,Turnout,Margin,Margin %,PartyShort,isMPMinister,LokSabha_Ministry,LokSabha_MinCode
0,0,NICOBAR,ANDAMAN AND NICOBAR,ANDAMAN AND NICOBAR,ANDAMAN AND NICOBAR,1.0,GEN,Bishnu Pada Ray,Bharatiya Janta Party,269360.0,190328.0,70.7 %,7812.0,4.1,BJP,0.0,[],[]
1,1,NORTH MIDDLE ANDAMAN,ANDAMAN AND NICOBAR,ANDAMAN AND NICOBAR,ANDAMAN AND NICOBAR,1.0,GEN,Bishnu Pada Ray,Bharatiya Janta Party,269360.0,190328.0,70.7 %,7812.0,4.1,BJP,0.0,[],[]
2,2,SOUTH ANDAMAN,ANDAMAN AND NICOBAR,ANDAMAN AND NICOBAR,ANDAMAN AND NICOBAR,1.0,GEN,Bishnu Pada Ray,Bharatiya Janta Party,269360.0,190328.0,70.7 %,7812.0,4.1,BJP,0.0,[],[]
3,3,ANANTAPUR,ANDHRA PRADESH,ANANTAPUR,ANANTAPUR,36.0,GEN,J.C. Divakar Reddi,Telugu Desam,1536912.0,1205054.0,78.4 %,61269.0,5.1,TDP,0.0,[],[]
4,4,ANANTAPUR,ANDHRA PRADESH,HINDUPUR,HINDUPUR,37.0,GEN,Kristappa Nimmala,Telugu Desam,1446503.0,1177257.0,81.4 %,97325.0,8.3,TDP,0.0,[],[]

In [11]:
stateDf = pd.read_csv('{}/stateGovernment2014New.csv'.format(folder))
stateDf['State'] = stateDf['State'].apply(lambda x: x.upper().strip())
stateDf.rename(mapper={'PartyShort':'PartyInState'}, axis=1, inplace=True)
stateDf.index = stateDf['State']
stateDf['PartyInState'] = stateDf['PartyInState'].map(eval)
partyInState = stateDf[['PartyInState', 'Party']].to_dict(orient='index')

In [12]:
partyInState

{'ANDHRA PRADESH': {'PartyInState': ['TDP'], 'Party': 'Telugu Desam Party'},
 'ARUNACHAL PRADESH': {'PartyInState': ['BJP'],
  'Party': 'Bharatiya Janata Party'},
 'ASSAM': {'PartyInState': ['INC'], 'Party': 'Indian national Congress'},
 'BIHAR': {'PartyInState': ['BJP', 'JDU'], 'Party': 'Bharatiya Janata Party'},
 'CHHATTISGARH': {'PartyInState': ['BJP'], 'Party': 'Bharatiya Janata Party'},
 'DELHI': {'PartyInState': ['AAP'], 'Party': 'Aam Aadmi Party'},
 'GOA': {'PartyInState': ['BJP'], 'Party': 'Bharatiya Janata Party'},
 'GUJARAT': {'PartyInState': ['BJP'], 'Party': 'Bharatiya Janata Party'},
 'HARYANA': {'PartyInState': ['BJP'], 'Party': 'Bharatiya Janata Party'},
 'HIMACHAL PRADESH': {'PartyInState': ['INC'],
  'Party': 'Indian national Congress'},
 'JAMMU AND KASHMIR': {'PartyInState': [], 'Party': '---'},
 'JHARKHAND': {'PartyInState': ['BJP'], 'Party': 'Bharatiya Janata Party'},
 'KARNATAKA': {'PartyInState': ['INC'], 'Party': 'Indian national Congress'},
 'KERALA': {'PartyInState': ['INC'], 'Party': 'Indian national Congress'},
 'MADHYA PRADESH': {'PartyInState': ['BJP'],
  'Party': 'Bharatiya Janata Party'},
 'MAHARASHTRA': {'PartyInState': ['BJP', 'SS'],
  'Party': 'Bharatiya Janata Party'},
 'MANIPUR': {'PartyInState': ['INC'], 'Party': 'Indian national Congress'},
 'MEGHALAYA': {'PartyInState': ['INC'], 'Party': 'Indian national Congress'},
 'MIZORAM': {'PartyInState': ['INC'], 'Party': 'Indian national Congress'},
 'NAGALAND': {'PartyInState': ['NPF'], 'Party': 'Nagaland Peoples Front'},
 'ODISHA': {'PartyInState': ['BJD'], 'Party': 'Biju Janata Dal'},
 'PUDUCHERRY': {'PartyInState': ['AINRC'], 'Party': 'All India N R Congress'},
 'PUNJAB': {'PartyInState': ['BJP', 'SAD'], 'Party': 'Bharatiya Janata Party'},
 'RAJASTHAN': {'PartyInState': ['BJP'], 'Party': 'Bharatiya Janata Party'},
 'SIKKIM': {'PartyInState': ['SDF'], 'Party': 'Sikkim Democratic Front'},
 'TAMIL NADU': {'PartyInState': ['AIADMK'],
  'Party': 'All India Anna Dravida Munnetra Kazhagam'},
 'TELANGANA': {'PartyInState': ['TRS'], 'Party': 'Telangana Rashtra Samithi'},
 'TRIPURA': {'PartyInState': ['CPIM'],
  'Party': 'Communist Party of India (Marxist) '},
 'UTTAR PRADESH': {'PartyInState': ['SP'], 'Party': 'Samajwadi Party'},
 'UTTARAKHAND': {'PartyInState': ['INC'], 'Party': 'Indian national Congress'},
 'WEST BENGAL': {'PartyInState': ['AITC'],
  'Party': 'All India Trinamool Congress'}}

In [13]:
# MPs Alignment with center
centerAlignment = []
stateAlignment = []
for i in range(districtsToConstDf.shape[0]):
    party = districtsToConstDf.iloc[i]['Party']
    partyShort = districtsToConstDf.iloc[i]['PartyShort']
    state = districtsToConstDf.iloc[i]['State']
    if party in parties_in_nda:
        centerAlignment.append(1)
    else:
        centerAlignment.append(0)
    if state not in partyInState:
        print(state)
        stateAlignment.append(0)
        continue
    if partyShort in partyInState[state]['PartyInState']:
        stateAlignment.append(1)
    else:
        stateAlignment.append(0)
districtsToConstDf['centerAlignment'] = centerAlignment
districtsToConstDf['stateAlignment'] = stateAlignment
not_aligned = []
for i in range(districtsToConstDf.shape[0]):
    not_aligned.append(1-(districtsToConstDf.iloc[i]["stateAlignment"] or districtsToConstDf.iloc[i]["centerAlignment"]))
districtsToConstDf["not_aligned"] = not_aligned

ANDAMAN AND NICOBAR
ANDAMAN AND NICOBAR
ANDAMAN AND NICOBAR
CHANDIGARH
DADRA AND NAGAR HAVELI
DAMAN AND DIU
DAMAN AND DIU
LAKSHADWEEP

In [14]:
#putting all records in one file totalCSR<Fy>.csv
for fy in ['2014-15']: #,'2015-16', '2016-17']:
    data = []
    for i in range(districtsDf.shape[0]):
        state = districtsDf.iloc[i]['State']
        district = districtsDf.iloc[i]['District']
        is_backward = districtsDf.iloc[i]['Aspirant_District']
        constituency = (districtsToConstDf['District'] == district) & ((districtsToConstDf['District'] == district))
        tempDf = RS_MPLAD_df[(RS_MPLAD_df['state'] == state) & (district == RS_MPLAD_df['CSR District'])]
        if tempDf.shape[0] == 0:
            mplad_rs = 0
            rs_min_name = []
            mplad_ministers_ministry = []
        else:
            mplad_rs = 1
            rs_min_name = []
            mplad_ministers_ministry = []
            for j in range(tempDf.shape[0]):
                rs_min_name.append(tempDf.iloc[j]['Minister'])
                mplad_ministers_ministry += eval(tempDf.iloc[j]['ministries'])
        path = '{}/{}/{}/{}.csv'.format(folder, fy, state, district)
        tempDf = pd.read_csv(path)
        for c in range(tempDf.shape[0]):
            data.append([tempDf.iloc[c]['company'], state, district, is_backward, mplad_rs, rs_min_name, mplad_ministers_ministry,tempDf.iloc[c]['amount']])
    print(len(data), 'records in', fy)
    df = pd.DataFrame(data)
    df.columns = ['company', 'state', 'district', 'is_backward', 'rs_min_mplad_district', 'rs_min_name', 'rs_min_ministry','amount']
    df['state'] = df['state'].map(lambda x: x.upper().strip())
    df['district'] = df['district'].map(lambda x: x.upper().strip())
    dataDf = df.merge(districtsToConstDf, how='left', left_on=['district', 'state'], right_on=['District', 'State'])
    cols = ['company', 'state','district', 'Constituency', 'Type', 'Party', 'PartyShort', 'centerAlignment', 'stateAlignment', 'not_aligned', 'is_backward', 'non_backward', 'Winning Candidate', 'LokSabha_Ministry', 'LokSabha_MinCode', 'isMPMinister', 'rs_min_mplad_district', 'rs_min_name', 'rs_min_ministry', 'Margin %' ,'amount']
    dataDf["non_backward"] = dataDf["is_backward"].apply(lambda x: 0 if x == 1 else 1)
    dataDf[cols].to_csv('{}/{}/{}.csv'.format(folder, fy, 'totalCSR{}'.format(fy)))
    print('Data items after merging', dataDf.shape)
    print(sum(pd.isna(dataDf['LokSabhaConstituency'])), 'Lok Sabha Constituencies are NA')

3382 records in 2014-15
Data items after merging (8169, 30)
4 Lok Sabha Constituencies are NA

## mapping is not required now as we are using sectors from the mca

`def format(x):
    try:
        x = int(x)
        return '{0:0>2}'.format(str(x))
    except:
        return x

mapping87to08Df = pd.read_csv('/home/manikaran/M.tech/Minor project/data/nic/mapping1987to2008.csv')

mapping98to08Df = pd.read_csv('/home/manikaran/M.tech/Minor project/data/nic/mapping1998to2008.csv')

mapping04to08Df = pd.read_csv('/home/manikaran/M.tech/Minor project/data/nic/mapping2004to2008.csv')

mapping70to08Df = pd.read_csv('/home/manikaran/M.tech/Minor project/data/nic/mapping1970to2008.csv')

code08Df = pd.read_csv('/home/manikaran/M.tech/Minor project/data/nic/nicCode2008.csv')
mapping04to08Df['2004 CODE'] = mapping04to08Df['2004 CODE'].map(format)
mapping98to08Df['1998 CODE'] = mapping98to08Df['1998 CODE'].map(format)
mapping87to08Df['1987 CODE'] = mapping87to08Df['1987 CODE'].map(format)
mapping70to08Df['1970 CODE'] = mapping70to08Df['1970 CODE'].map(format)
mapping04to08Df['2008 CODE'] = mapping04to08Df['2008 CODE'].map(format)
mapping98to08Df['2008 CODE'] = mapping98to08Df['2008 CODE'].map(format)
mapping87to08Df['2008 CODE'] = mapping87to08Df['2008 CODE'].map(format)
mapping70to08Df['2008 CODE'] = mapping70to08Df['2008 CODE'].map(format)
code08Df['2008 CODE'] = code08Df['2008 CODE'].map(format)`

## nic code from cin not required now
`def getNIC(cin):
    year = cin[8:12]
    nic = cin[1:3]
    
    if int(year) < 1987:
        tempDf = mapping70to08Df[mapping70to08Df['1970 CODE'] == nic]
        code = []
        for i in range(tempDf.shape[0]):
            code.append(tempDf.iloc[i]['2008 CODE'])
        return code, 1970
    elif int(year) < 1998:
        tempDf = mapping87to08Df[mapping87to08Df['1987 CODE'] == nic]
        code = []
        for i in range(tempDf.shape[0]):
            code.append(tempDf.iloc[i]['2008 CODE'])
        return code, 1987
    elif int(year) < 2004:
        tempDf = mapping98to08Df[mapping98to08Df['1998 CODE'] == nic]
        code = []
        for i in range(tempDf.shape[0]):
            code.append(tempDf.iloc[i]['2008 CODE'])
        return code, 1998
    elif int(year) < 2008:
        tempDf = mapping04to08Df[mapping04to08Df['2004 CODE'] == nic]
        code = []
        for i in range(tempDf.shape[0]):
            code.append(tempDf.iloc[i]['2008 CODE'])
        return code, 2004
    else:
        return [nic], 2008`

In [15]:
import numpy as np
def getMinistries(sector):
    if pd.isna(sector):
        return []
    tempDf = matrixDf[matrixDf['SectorCode'] == sector]
    #getting column number where values in the row == 1, 
    #since the ministry code starts from 1 and the first column header is SectorCode so
    #the indices return by where function is actually the ministry code
    return list(np.where(np.array(tempDf[:]=='1'))[1])

In [16]:
#adding CIN
for fy in ['2014-15']: #, '2015-16', '2016-17']:
    csrDf = pd.read_csv('{}/{}/{}.csv'.format(folder, fy, 'totalCSR{}'.format(fy)))
    #compWithCINDf = pd.read_csv('{}/{}/all_companies_with_CIN.csv'.format(folder, fy))
    compWithCINDf = pd.read_csv('{}/all_companies_2014_with_sector.csv'.format(folder))
    compWithCINDf = compWithCINDf[['company', 'CIN', 'buss_sector', 'sectorCode']]
    nic = []
    ministries = []
    year = []
    for i in range(compWithCINDf.shape[0]):
        #cin = compWithCINDf.iloc[i]['CIN']
        #company = compWithCINDf.iloc[i]['company']
        #code, nicMappingUsed = getNIC(cin)
        #yr = int(cin[8:12])
        #year.append(yr)
        #nic.append(code)
        #if len(code) > 0:
        ministries.append(getMinistries(compWithCINDf.iloc[i]['sectorCode']))
        #else:
        #    ministries.append([])
    #compWithCINDf['nic'] = nic
    compWithCINDf['ministriesInfluenced'] = ministries
    #compWithCINDf['yearOfIncorp'] = year
    compWithCINDf.to_csv('{}/{}/{}.csv'.format(folder, fy, 'companies'))
    csrDf['company'] = csrDf['company'].map(str.upper, na_action='ignore')
    tempDf = csrDf.merge(compWithCINDf, how='left', on='company')
    print(tempDf['CIN'].isna().sum(), 'None values')
    tempDf.to_csv('{}/{}/{}.csv'.format(folder, fy, 'totalCSRWithComp{}'.format(fy)))
    '''comp98Df = tempDf[tempDf['yearOfIncorp'] >= 1998]
    comp98Df.drop('Unnamed: 0', axis=1, inplace=True)
    comp98Df.reset_index(inplace=True, drop=True)'''
    ministryInfluenceComp = []
    for i in range(tempDf.shape[0]):
        intersection = 0
        minInfluenced = tempDf.iloc[i]['ministriesInfluenced']
        if tempDf.iloc[i]['isMPMinister'] == 1:
            mins = eval(tempDf.iloc[i]['LokSabha_MinCode'])
            for ministry in minInfluenced:
                if ministry in mins:
                    intersection = 1
        if tempDf.iloc[i]['rs_min_mplad_district'] == 1:
            mins = eval(tempDf.iloc[i]['rs_min_ministry'])
            for ministry in minInfluenced:
                if ministry in mins:
                    intersection = 1
        ministryInfluenceComp.append(intersection)
    tempDf['ministry_comp_intersection'] = ministryInfluenceComp
    tempDf.to_csv('{}/{}/{}.csv'.format(folder, fy, 'totalCSR'))

0 None values

In [17]:
for x in tempDf.itertuples():
    print(x)
    break

Pandas(Index=0, _1=0, company='SUNDARAM -CLAYTON LIMITED', state='ANDHRA PRADESH', district='ANANTAPUR', Constituency='ANANTAPUR', Type='GEN', Party='Telugu Desam', PartyShort='TDP', centerAlignment=1, stateAlignment=1, not_aligned=0, is_backward=0, non_backward=1, _14='J.C. Divakar Reddi', LokSabha_Ministry='[]', LokSabha_MinCode='[]', isMPMinister=0.0, rs_min_mplad_district=0, rs_min_name='[]', rs_min_ministry='[]', _21=5.1, amount='174,300,000.00', CIN='L35999TN1962PLC004792', buss_sector='Manufacturing (Machinery & Equipments)', sectorCode=11.0, ministriesInfluenced=[4, 12, 13, 16, 20, 21, 24, 37], ministry_comp_intersection=0)

In [18]:
import multiprocessing as mp

In [19]:
def concat(x):
    ans = []
    for l in x:
        ans += l
    return ans

def getIntersection(row):
    intersection = 0
    minInfluenced = eval(row['ministriesInfluenced'])
    if row['isMPMinister'] == 1:
        mins = eval(row['LokSabha_MinCode'])
        for ministry in minInfluenced:
            if ministry in mins:
                intersection = 1
    if row['rs_mplad_dist'] == 1:
        mins = row['rs_min_ministry']
        for ministry in minInfluenced:
            if ministry in mins:
                intersection = 1
    return intersection

#for fy in ['2014-15']:
compDf = pd.read_csv('{}/{}/{}.csv'.format(folder, fy, 'companies'))
compDf['key'] = 0
#comp98Df = compDf[compDf['yearOfIncorp'] >= 1998]
tempDf = districtsToConstDf.copy()
tempDf['key'] = 0
#dataDf = comp98Df.merge(tempDf, how='inner', on='key')
dataDf = compDf.merge(tempDf, how='inner', on='key')
tempDf = RS_MPLAD_df.copy()
tempDf['ministries'] = RS_MPLAD_df['ministries'].map(lambda x: eval(x))
tempDf = tempDf.groupby(['CSR District', 'state']).agg({'Minister':list, 'ministries':concat})
tempDf.reset_index(inplace=True)
tempDf['rs_mplad_dist'] = 1
tempDf['state'] = tempDf['state'].apply(str.upper)
tempDf['CSR District'] = tempDf['CSR District'].apply(str.upper)
tempDf.rename({'state':'State', 'CSR District':'District', 'Minister':'rs_min_name', 'ministries':'rs_min_ministry'}, inplace=True, axis=1)
dataDf = dataDf.merge(tempDf, how='left', on=['State', 'District'])
tempDisDf = districtsDf[['District', 'State', 'Aspirant_District']].copy()
tempDisDf['District'] = tempDisDf['District'].map(lambda x: x.strip().upper())
tempDisDf['State'] = tempDisDf['State'].map(lambda x: x.strip().upper())
dataDf = dataDf.merge(tempDisDf, how='left', on=['State', 'District'])
dataDf.rename({'Aspirant_District':'is_backward'}, inplace=True, axis=1)
dataDf["non_backward"] = dataDf["is_backward"].apply(lambda x: 0 if x == 1 else 1)
ministryInfluenceComp = [0]*dataDf.shape[0]
tempDf2 = dataDf[(dataDf['isMPMinister'] == 1) | (dataDf['rs_mplad_dist'] == 1)]
print(tempDf2.shape[0])
for i in tempDf2.index:
    intersection = 0
    minInfluenced = eval(dataDf.loc[i]['ministriesInfluenced'])
    if dataDf.loc[i]['isMPMinister'] == 1:
        mins = eval(dataDf.iloc[i]['LokSabha_MinCode'])
        for ministry in minInfluenced:
            if ministry in mins:
                intersection = 1
    if dataDf.loc[i]['rs_mplad_dist'] == 1:
        mins = dataDf.loc[i]['rs_min_ministry']
        for ministry in minInfluenced:
            if ministry in mins:
                intersection = 1
    ministryInfluenceComp[i] = intersection
dataDf['ministry_comp_intersection'] = ministryInfluenceComp
dataDf.to_csv('{}/{}/{}.csv'.format(folder, fy, 'COMPxDIS'))

286004

In [20]:
dataDf[dataDf['ministry_comp_intersection'] == 1][['isMPMinister', 'rs_mplad_dist', 'ministriesInfluenced', 'LokSabha_MinCode', 'rs_min_ministry']]

,isMPMinister,rs_mplad_dist,ministriesInfluenced,LokSabha_MinCode,rs_min_ministry
102,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]",[37.0],NaN
126,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]",[24.0],NaN
143,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]",[24.0],NaN
219,0.0,1.0,"[4, 12, 13, 16, 20, 21, 24, 37]",[],"[21, 16, 19]"
220,0.0,1.0,"[4, 12, 13, 16, 20, 21, 24, 37]",[],"[21, 16, 19]"
234,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]",[37.0],NaN
288,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]","[20.0, 39.0, 8.0]",NaN
292,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]","[20.0, 39.0, 8.0]",NaN
293,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]","[20.0, 39.0, 8.0]",NaN
300,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]","[20.0, 39.0, 8.0]",NaN
301,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]","[20.0, 39.0, 8.0]",NaN
305,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]","[20.0, 39.0, 8.0]",NaN
322,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]",[21.0],NaN
354,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]",[4.0],NaN
521,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]","[31.0, 13.0]",NaN
537,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]",[4.0],NaN
538,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]",[4.0],NaN
637,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]","[31.0, 13.0]",NaN
638,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]","[31.0, 13.0]",NaN
639,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]","[31.0, 13.0]",NaN
640,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]","[31.0, 13.0]",NaN
864,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]",[12.0],NaN
879,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]",[24.0],NaN
921,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]",[24.0],NaN
936,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]",[37.0],NaN
942,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]",[37.0],NaN
1061,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]",[37.0],NaN
1069,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]",[21.0],NaN
1250,1.0,NaN,"[9, 11, 12, 16, 20, 21, 24, 26, 27, 28, 30, 31...",[37.0],NaN
1274,1.0,NaN,"[9, 11, 12, 16, 20, 21, 24, 26, 27, 28, 30, 31...",[24.0],NaN
...,...,...,...,...,...
2583921,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]",[24.0],NaN
2583936,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]",[37.0],NaN
2583942,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]",[37.0],NaN
2584061,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]",[37.0],NaN
2584069,1.0,NaN,"[4, 12, 13, 16, 20, 21, 24, 37]",[21.0],NaN
2584163,0.0,1.0,"[16, 20, 21, 23, 24, 37, 48]",[],"[6, 23]"
2584164,0.0,1.0,"[16, 20, 21, 23, 24, 37, 48]",[],"[6, 23]"
2584165,0.0,1.0,"[16, 20, 21, 23, 24, 37, 48]",[],"[6, 23]"
2584250,1.0,NaN,"[16, 20, 21, 23, 24, 37, 48]",[37.0],NaN
2584274,1.0,NaN,"[16, 20, 21, 23, 24, 37, 48]",[24.0],NaN
2584291,1.0,NaN,"[16, 20, 21, 23, 24, 37, 48]",[24.0],NaN
2584329,1.0,NaN,"[16, 20, 21, 23, 24, 37, 48]","[6.0, 23.0]",NaN
2584334,1.0,NaN,"[16, 20, 21, 23, 24, 37, 48]","[6.0, 23.0]",NaN
2584367,0.0,1.0,"[16, 20, 21, 23, 24, 37, 48]",[],"[21, 16, 19]"
2584368,0.0,1.0,"[16, 20, 21, 23, 24, 37, 48]",[],"[21, 16, 19]"
2584382,1.0,NaN,"[16, 20, 21, 23, 24, 37, 48]",[37.0],NaN
2584436,1.0,NaN,"[16, 20, 21, 23, 24, 37, 48]","[20.0, 39.0, 8.0]",NaN
2584440,1.0,NaN,"[16, 20, 21, 23, 24, 37, 48]","[20.0, 39.0, 8.0]",NaN
2584441,1.0,NaN,"[16, 20, 21, 23, 24, 37, 48]","[20.0, 39.0, 8.0]",NaN
2584448,1.0,NaN,"[16, 20, 21, 23, 24, 37, 48]","[20.0, 39.0, 8.0]",NaN
2584449,1.0,NaN,"[16, 20, 21, 23, 24, 37, 48]","[20.0, 39.0, 8.0]",NaN
2584453,1.0,NaN,"[16, 20, 21, 23, 24, 37, 48]","[20.0, 39.0, 8.0]",NaN
2584470,1.0,NaN,"[16, 20, 21, 23, 24, 37, 48]",[21.0],NaN
2584576,0.0,1.0,"[16, 20, 21, 23, 24, 37, 48]",[],[48]
2585027,1.0,NaN,"[16, 20, 21, 23, 24, 37, 48]",[24.0],NaN
2585069,1.0,NaN,"[16, 20, 21, 23, 24, 37, 48]",[24.0],NaN
2585084,1.0,NaN,"[16, 20, 21, 23, 24, 37, 48]",[37.0],NaN
2585090,1.0,NaN,"[16, 20, 21, 23, 24, 37, 48]",[37.0],NaN
2585209,1.0,NaN,"[16, 20, 21, 23, 24, 37, 48]",[37.0],NaN
2585217,1.0,NaN,"[16, 20, 21, 23, 24, 37, 48]",[21.0],NaN

In [ ]:
#Not Required
for fy in ['2014-15', '2015-16', '2016-17']:
    data = []
    for i in range(districtsDf.shape[0]):
        path = '{}/{}/{}.csv'.format(folder, fy, 'all_companies')
        companiesDf = pd.read_csv(path)
        state = districtsDf.iloc[i][0]
        j = 1
        while j < districtsDf.shape[1] and not pd.isna(districtsDf.iloc[i][j]):
            district = districtsDf.iloc[i][j]
            minister = districtToMPConstDf[(districtToMPConstDf['state'] == state) & (districtToMPConstDf['district'] == district)]
            if minister.shape[0] > 0:
                is_mp_minister = 1
                constituency = minister['constituency'].iloc[0]
                #print(district, state, constituency)
            else:
                is_mp_minister = 0
                constituency = None
                #print('None')
            is_backward = aspirantDistrictsDf[(aspirantDistrictsDf['State'] == state) & (aspirantDistrictsDf['District'] == district)]['Aspirant_District'].iloc[0]
            for comp in companiesDf['company']:
                data.append([comp, state, district, is_backward, is_mp_minister, constituency])
            j += 1
    print('COMP x STATE_DISTRICT has ', len(data), 'elements in', fy)
    (pd.DataFrame(data)).to_csv('{}/{}/{}.csv'.format(folder, fy, 'COMPxSTATE_DISTRICT'))

In [22]:
for fy in ['2014-15']: #, '2015-16', '2016-17']:
    totalCSRDf = pd.read_csv('{}/{}/{}'.format(folder, fy, 'totalCSR.csv'))
    print(totalCSRDf.columns)
    compxDisDf = pd.read_csv('{}/{}/{}'.format(folder, fy, 'COMPxDIS.csv'))
    print(compxDisDf.columns)
    invested = [0]*compxDisDf.shape[0]
    print(totalCSRDf.shape[0])
    for i in range(totalCSRDf.shape[0]):
        idx = compxDisDf[(compxDisDf['company'] == totalCSRDf.iloc[i]['company']) & (compxDisDf['State'] == totalCSRDf.iloc[i]['state']) & (compxDisDf['District'] == totalCSRDf.iloc[i]['district'])].index
        for j in idx:
            invested[j] = 1
            #print(j, flush=True, end= ' ')
        if i % 100 == 0:
            print(i, end = ' ')
    compxDisDf['invested'] = invested
    compxDisDf.to_csv('{}/{}/{}'.format(folder, fy, 'dataForAnalysis.csv'))
compxDisDf[compxDisDf['invested'] == 1].shape

Index(['Unnamed: 0', 'Unnamed: 0.1', 'company', 'state', 'district',
       'Constituency', 'Type', 'Party', 'PartyShort', 'centerAlignment',
       'stateAlignment', 'not_aligned', 'is_backward', 'non_backward',
       'Winning Candidate', 'LokSabha_Ministry', 'LokSabha_MinCode',
       'isMPMinister', 'rs_min_mplad_district', 'rs_min_name',
       'rs_min_ministry', 'Margin %', 'amount', 'CIN', 'buss_sector',
       'sectorCode', 'ministriesInfluenced', 'ministry_comp_intersection'],
      dtype='object')
Index(['Unnamed: 0', 'Unnamed: 0_x', 'company', 'CIN', 'buss_sector',
       'sectorCode', 'ministriesInfluenced', 'key', 'Unnamed: 0_y', 'District',
       'State', 'LokSabhaConstituency', 'Constituency', 'No', 'Type',
       'Winning Candidate', 'Party', 'Electors', 'Votes', 'Turnout', 'Margin',
       'Margin %', 'PartyShort', 'isMPMinister', 'LokSabha_Ministry',
       'LokSabha_MinCode', 'centerAlignment', 'stateAlignment', 'not_aligned',
       'rs_min_name', 'rs_min_ministry', 'rs_mplad_dist', 'is_backward',
       'non_backward', 'ministry_comp_intersection'],
      dtype='object')
8169
0 100 200 300 400 500 600 700 800 900 1000 1100 1200 1300 1400 1500 1600 1700 1800 1900 2000 2100 2200 2300 2400 2500 2600 2700 2800 2900 3000 3100 3200 3300 3400 3500 3600 3700 3800 3900 4000 4100 4200 4300 4400 4500 4600 4700 4800 4900 5000 5100 5200 5300 5400 5500 5600 5700 5800 5900 6000 6100 6200 6300 6400 6500 6600 6700 6800 6900 7000 7100 7200 7300 7400 7500 7600 7700 7800 7900 8000 8100

(8169, 36)

In [ ]:
compxDisDf[(compxDisDf['invested'] == 1) & (compxDisDf['ministry_comp_intersection'])][['company', 'LokSabha_Ministry', 'rs_min_name']]

In [ ]:
idx = compxDisDf[(compxDisDf['invested'] == 1)].index

In [ ]:
compxDisDf.iloc[idx]