In [1]:
import pandas as pd
import numpy as np

In [2]:
from statsmodels.formula.api import Logit, logit

In [3]:
folder = '/home/manikaran/M.tech/Minor project/data/CSR_NEW_FILES'

In [4]:
dataDf = pd.read_csv('{}/{}/{}'.format(folder, '2014-15', 'dataForAnalysis.csv'))

In [5]:
dataDf.shape

(2585296, 37)

In [6]:
dataDf.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0_x', 'company', 'CIN',
       'buss_sector', 'sectorCode', 'ministriesInfluenced', 'key',
       'Unnamed: 0_y', 'District', 'State', 'LokSabhaConstituency',
       'Constituency', 'No', 'Type', 'Winning Candidate', 'Party', 'Electors',
       'Votes', 'Turnout', 'Margin', 'Margin %', 'PartyShort', 'isMPMinister',
       'LokSabha_Ministry', 'LokSabha_MinCode', 'centerAlignment',
       'stateAlignment', 'not_aligned', 'rs_min_name', 'rs_min_ministry',
       'rs_mplad_dist', 'is_backward', 'non_backward',
       'ministry_comp_intersection', 'invested'],
      dtype='object')

In [7]:
dataDf[(dataDf['ministry_comp_intersection'] == 1) & (dataDf['invested'] == 1)]

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0_x,company,CIN,buss_sector,sectorCode,ministriesInfluenced,key,Unnamed: 0_y,...,centerAlignment,stateAlignment,not_aligned,rs_min_name,rs_min_ministry,rs_mplad_dist,is_backward,non_backward,ministry_comp_intersection,invested
40308,40308,40308,35,POWER GRID CORPORATION OF INDIA LIMITED,L40101DL1989GOI038121,"Electricity, Gas & Water companies",13.0,"[3, 10, 15, 16, 18, 20, 21, 24, 38, 51]",0,128,...,1,1,0,"['Ravi Shankar Prasad', 'Dharmendra Pradhan']","[32, 30]",1.0,0,1,1,1
40468,40468,40468,35,POWER GRID CORPORATION OF INDIA LIMITED,L40101DL1989GOI038121,"Electricity, Gas & Water companies",13.0,"[3, 10, 15, 16, 18, 20, 21, 24, 38, 51]",0,288,...,1,0,0,NaN,NaN,NaN,0,1,1,1
74645,74645,74645,65,UNITED BREWERIES LIMITED,L36999KA1999PLC025195,Manufacturing (Others),12.0,"[4, 9, 11, 13, 16, 20, 21, 24, 27, 31, 32, 33,...",0,25,...,1,1,0,NaN,NaN,NaN,0,1,1,1
80488,80488,80488,70,NTPC LIMITED,L40101DL1975GOI007966,"Electricity, Gas & Water companies",13.0,"[3, 10, 15, 16, 18, 20, 21, 24, 38, 51]",0,128,...,1,1,0,"['Ravi Shankar Prasad', 'Dharmendra Pradhan']","[32, 30]",1.0,0,1,1,1
139157,139157,139157,121,RITES LIMITED,U74899DL1974GOI007227,Business Services,1.0,"[8, 9, 11, 13, 14, 16, 19, 20, 21, 24, 27, 31,...",0,249,...,1,1,0,NaN,NaN,NaN,0,1,1,1
139972,139972,139972,121,RITES LIMITED,U74899DL1974GOI007227,Business Services,1.0,"[8, 9, 11, 13, 14, 16, 19, 20, 21, 24, 27, 31,...",0,1064,...,1,1,0,NaN,NaN,NaN,1,0,1,1
141872,141872,141872,123,CONTAINER CORPORATION OF INDIA LIMITED,L63011DL1988GOI030915,"Transport, storage and Communications",16.0,"[15, 16, 20, 21, 24, 32, 33, 35, 36, 37, 50]",0,668,...,1,1,0,NaN,NaN,NaN,0,1,1,1
141894,141894,141894,123,CONTAINER CORPORATION OF INDIA LIMITED,L63011DL1988GOI030915,"Transport, storage and Communications",16.0,"[15, 16, 20, 21, 24, 32, 33, 35, 36, 37, 50]",0,690,...,1,1,0,NaN,NaN,NaN,0,1,1,1
151663,151663,151663,132,HSBC INVESTDIRECT FINANCIAL SERVICES (INDIA) L...,U67190MH1996PLC097473,Finance,17.0,"[16, 20, 21, 24, 32]",0,127,...,1,0,0,"['Ravi Shankar Prasad', 'Dharmendra Pradhan']","[32, 30]",1.0,0,1,1,1
151664,151664,151664,132,HSBC INVESTDIRECT FINANCIAL SERVICES (INDIA) L...,U67190MH1996PLC097473,Finance,17.0,"[16, 20, 21, 24, 32]",0,128,...,1,1,0,"['Ravi Shankar Prasad', 'Dharmendra Pradhan']","[32, 30]",1.0,0,1,1,1
151665,151665,151665,132,HSBC INVESTDIRECT FINANCIAL SERVICES (INDIA) L...,U67190MH1996PLC097473,Finance,17.0,"[16, 20, 21, 24, 32]",0,129,...,1,1,0,"['Ravi Shankar Prasad', 'Dharmendra Pradhan']","[32, 30]",1.0,0,1,1,1
152811,152811,152811,133,CANARA HSBC ORIENTAL BANK OF COMMERCE LIFE INS...,U66010DL2007PLC248825,Insurance,18.0,"[1, 8, 16, 20, 21, 24, 32]",0,127,...,1,0,0,"['Ravi Shankar Prasad', 'Dharmendra Pradhan']","[32, 30]",1.0,0,1,1,1
152812,152812,152812,133,CANARA HSBC ORIENTAL BANK OF COMMERCE LIFE INS...,U66010DL2007PLC248825,Insurance,18.0,"[1, 8, 16, 20, 21, 24, 32]",0,128,...,1,1,0,"['Ravi Shankar Prasad', 'Dharmendra Pradhan']","[32, 30]",1.0,0,1,1,1
152813,152813,152813,133,CANARA HSBC ORIENTAL BANK OF COMMERCE LIFE INS...,U66010DL2007PLC248825,Insurance,18.0,"[1, 8, 16, 20, 21, 24, 32]",0,129,...,1,1,0,"['Ravi Shankar Prasad', 'Dharmendra Pradhan']","[32, 30]",1.0,0,1,1,1
153959,153959,153959,134,IDBI BANK LIMITED,L65190MH2004GOI148838,Finance,17.0,"[16, 20, 21, 24, 32]",0,127,...,1,0,0,"['Ravi Shankar Prasad', 'Dharmendra Pradhan']","[32, 30]",1.0,0,1,1,1
153960,153960,153960,134,IDBI BANK LIMITED,L65190MH2004GOI148838,Finance,17.0,"[16, 20, 21, 24, 32]",0,128,...,1,1,0,"['Ravi Shankar Prasad', 'Dharmendra Pradhan']","[32, 30]",1.0,0,1,1,1
153961,153961,153961,134,IDBI BANK LIMITED,L65190MH2004GOI148838,Finance,17.0,"[16, 20, 21, 24, 32]",0,129,...,1,1,0,"['Ravi Shankar Prasad', 'Dharmendra Pradhan']","[32, 30]",1.0,0,1,1,1
155107,155107,155107,135,NATIONAL INSURANCE CO LTD,U10200WB1906GOI001713,Mining & Quarrying,4.0,"[16, 17, 20, 21, 24, 30, 38]",0,127,...,1,0,0,"['Ravi Shankar Prasad', 'Dharmendra Pradhan']","[32, 30]",1.0,0,1,1,1
155108,155108,155108,135,NATIONAL INSURANCE CO LTD,U10200WB1906GOI001713,Mining & Quarrying,4.0,"[16, 17, 20, 21, 24, 30, 38]",0,128,...,1,1,0,"['Ravi Shankar Prasad', 'Dharmendra Pradhan']","[32, 30]",1.0,0,1,1,1
155109,155109,155109,135,NATIONAL INSURANCE CO LTD,U10200WB1906GOI001713,Mining & Quarrying,4.0,"[16, 17, 20, 21, 24, 30, 38]",0,129,...,1,1,0,"['Ravi Shankar Prasad', 'Dharmendra Pradhan']","[32, 30]",1.0,0,1,1,1
156256,156256,156256,136,BIHAR STATE POWER TRANSMISSION COMPANY LIMITED,U40102BR2012SGC018889,"Electricity, Gas & Water companies",13.0,"[3, 10, 15, 16, 18, 20, 21, 24, 38, 51]",0,128,...,1,1,0,"['Ravi Shankar Prasad', 'Dharmendra Pradhan']","[32, 30]",1.0,0,1,1,1
157403,157403,157403,137,WAPCOS LIMITED,U74899DL1969GOI005070,Business Services,1.0,"[8, 9, 11, 13, 14, 16, 19, 20, 21, 24, 27, 31,...",0,127,...,1,0,0,"['Ravi Shankar Prasad', 'Dharmendra Pradhan']","[32, 30]",1.0,0,1,1,1
157404,157404,157404,137,WAPCOS LIMITED,U74899DL1969GOI005070,Business Services,1.0,"[8, 9, 11, 13, 14, 16, 19, 20, 21, 24, 27, 31,...",0,128,...,1,1,0,"['Ravi Shankar Prasad', 'Dharmendra Pradhan']","[32, 30]",1.0,0,1,1,1
157405,157405,157405,137,WAPCOS LIMITED,U74899DL1969GOI005070,Business Services,1.0,"[8, 9, 11, 13, 14, 16, 19, 20, 21, 24, 27, 31,...",0,129,...,1,1,0,"['Ravi Shankar Prasad', 'Dharmendra Pradhan']","[32, 30]",1.0,0,1,1,1
157949,157949,157949,137,WAPCOS LIMITED,U74899DL1969GOI005070,Business Services,1.0,"[8, 9, 11, 13, 14, 16, 19, 20, 21, 24, 27, 31,...",0,673,...,1,1,0,NaN,NaN,NaN,0,1,1,1
162338,162338,162338,141,TRIDENT LIMITED,L99999PB1990PLC010307,Others,2.0,"[1, 2, 6, 8, 9, 11, 16, 19, 20, 21, 23, 24, 27...",0,470,...,1,1,0,NaN,NaN,NaN,0,1,1,1
211747,211747,211747,184,TATA POWER TRADING COMPANY LIMITED,U40100MH2003PLC143770,"Electricity, Gas & Water companies",13.0,"[3, 10, 15, 16, 18, 20, 21, 24, 38, 51]",0,515,...,1,1,0,['Piyush Goyal'],"[18, 38, 10]",1.0,0,1,1,1
211748,211748,211748,184,TATA POWER TRADING COMPANY LIMITED,U40100MH2003PLC143770,"Electricity, Gas & Water companies",13.0,"[3, 10, 15, 16, 18, 20, 21, 24, 38, 51]",0,516,...,1,1,0,['Piyush Goyal'],"[18, 38, 10]",1.0,0,1,1,1
229516,229516,229516,199,MMTC - PAMP INDIA PRIVATE LIMITED,U27310HR2008PTC042218,"Manufacturing (Metals & Chemicals, and product...",10.0,"[4, 9, 16, 20, 21, 24, 33, 34, 37, 41, 42, 46]",0,1064,...,1,1,0,NaN,NaN,NaN,1,0,1,1
233970,233970,233970,203,RADICO KHAITAN LIMITED,L26941UP1983PLC027278,"Manufacturing (Metals & Chemicals, and product...",10.0,"[4, 9, 16, 20, 21, 24, 33, 34, 37, 41, 42, 46]",0,926,...,1,0,0,NaN,NaN,NaN,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1870785,1870785,1870785,1629,ORIX LEASING & FINANCIAL SERVICES INDIA LIMITED,U74900MH2006PLC163937,Business Services,1.0,"[8, 9, 11, 13, 14, 16, 19, 20, 21, 24, 27, 31,...",0,693,...,1,1,0,NaN,NaN,NaN,0,1,1,1
1874229,1874229,1874229,1632,PC SOLUTIONS PRIVATE LIMITED,U74899DL1995PTC072980,Business Services,1.0,"[8, 9, 11, 13, 14, 16, 19, 20, 21, 24, 27, 31,...",0,693,...,1,1,0,NaN,NaN,NaN,0,1,1,1
1876522,1876522,1876522,1634,METALLIZING EQUIPMENT COMPANY PRIVATE LIMITED,U40100RJ1975PTC001631,"Electricity, Gas & Water companies",13.0,"[3, 10, 15, 16, 18, 20, 21, 24, 38, 51]",0,690,...,1,1,0,NaN,NaN,NaN,0,1,1,1
1879969,1879969,1879969,1637,RAMKUMAR MORARKA AND SONS PRIVATE LIMITED,U99999MH1946PTC004824,Others,2.0,"[1, 2, 6, 8, 9, 11, 16, 19, 20, 21, 23, 24, 27...",0,693,...,1,1,0,NaN,NaN,NaN,0,1,1,1
1911166,1911166,1911166,1664,ULTRA INTERNATIONAL LIMITED,U74899DL1978PLC008854,Business Services,1.0,"[8, 9, 11, 13, 14, 16, 19, 20, 21, 24, 27, 31,...",0,894,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2249730,2249730,2249730,1959,HYDERABAD RACE CLUB,U92411TG1971NPL001403,"Community, personal & Social Services",20.0,"[1, 2, 3, 5, 7, 8, 16, 20, 21, 24, 28, 33, 39,...",0,798,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2261210,2261210,2261210,1969,SIPRA LABS LIMITED,U85195TG1994PLC016912,"Community, personal & Social Services",20.0,"[1, 2, 3, 5, 7, 8, 16, 20, 21, 24, 28, 33, 39,...",0,798,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2310574,2310574,2310574,2012,CHIREC INTERNATIONAL SCHOOLS PRIVATE LIMITED,U80212TG2013PTC090749,"Community, personal & Social Services",20.0,"[1, 2, 3, 5, 7, 8, 16, 20, 21, 24, 28, 33, 39,...",0,798,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2317462,2317462,2317462,2018,K-12 EDUCATION MANAGEMENT PRIVATE LIMITED,U80901TG2009PTC065079,"Community, personal & Social Services",20.0,"[1, 2, 3, 5, 7, 8, 16, 20, 21, 24, 28, 33, 39,...",0,798,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2318610,2318610,2318610,2019,DELHI MSW SOLUTIONS LIMITED,U90001TG2009PLC063708,"Community, personal & Social Services",20.0,"[1, 2, 3, 5, 7, 8, 16, 20, 21, 24, 28, 33, 39,...",0,798,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2319758,2319758,2319758,2020,UNIMED HEALTH CARE PRIVATE LIMITED,U85110TG2006PTC051751,"Community, personal & Social Services",20.0,"[1, 2, 3, 5, 7, 8, 16, 20, 21, 24, 28, 33, 39,...",0,798,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2387566,2387566,2387566,2079,HCL CORPORATION PRIVATE LIMITED,U74120DL2008PTC183849,Business Services,1.0,"[8, 9, 11, 13, 14, 16, 19, 20, 21, 24, 27, 31,...",0,874,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2391010,2391010,2391010,2082,HCL TALENTCARE PRIVATE LIMITED,U74140DL2011PTC214659,Business Services,1.0,"[8, 9, 11, 13, 14, 16, 19, 20, 21, 24, 27, 31,...",0,874,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2392175,2392175,2392175,2083,INTERRA SYSTEMS (INDIA) PRIVATE LIMITED,U72900DL2000PTC104326,Business Services,1.0,"[8, 9, 11, 13, 14, 16, 19, 20, 21, 24, 27, 31,...",0,891,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2395619,2395619,2395619,2086,VERSATILE STRATEGICS PRIVATE LIMITED,U74140DL2011PTC227997,Business Services,1.0,"[8, 9, 11, 13, 14, 16, 19, 20, 21, 24, 27, 31,...",0,891,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2402510,2402510,2402510,2092,AJAY INDUSTRIAL CORPORATION LIMITED.,U51909DL2008PLC180573,Trading,15.0,"[9, 11, 12, 16, 20, 21, 24, 26, 27, 28, 30, 31...",0,894,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2403658,2403658,2403658,2093,D B ENGINEERING PRIVATE LTD,U74899DL1986PTC026541,Business Services,1.0,"[8, 9, 11, 13, 14, 16, 19, 20, 21, 24, 27, 31,...",0,894,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2404806,2404806,2404806,2094,GAURSONS INDIA LIMITED,U74899DL1995PLC064555,Business Services,1.0,"[8, 9, 11, 13, 14, 16, 19, 20, 21, 24, 27, 31,...",0,894,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2405954,2405954,2405954,2095,UNITED DECORATIVES PVT LTD,U74899DL1984PTC019362,Business Services,1.0,"[8, 9, 11, 13, 14, 16, 19, 20, 21, 24, 27, 31,...",0,894,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2407102,2407102,2407102,2096,SPECTRA PRODUCTS PRIVATE LIMITED,U74899DL1991PTC046647,Business Services,1.0,"[8, 9, 11, 13, 14, 16, 19, 20, 21, 24, 27, 31,...",0,894,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2411697,2411697,2411697,2100,FAST MOVERS LOGISTICS PRIVATE LIMITED,U63090DL2011PTC218011,"Transport, storage and Communications",16.0,"[15, 16, 20, 21, 24, 32, 33, 35, 36, 37, 50]",0,897,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2441574,2441574,2441574,2126,PTC INDUSTRIES LIMITED,L27109UP1963PLC002931,"Manufacturing (Metals & Chemicals, and product...",10.0,"[4, 9, 16, 20, 21, 24, 33, 34, 37, 41, 42, 46]",0,926,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2442722,2442722,2442722,2127,IKM INVESTORS PRIVATE LIMITED,U74899HR1995PTC041680,Business Services,1.0,"[8, 9, 11, 13, 14, 16, 19, 20, 21, 24, 27, 31,...",0,926,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2445018,2445018,2445018,2129,DSP BLACKROCK INVESTMENT MANAGERS PRIVATE LIMITED,U74140MH1996PTC099483,Business Services,1.0,"[8, 9, 11, 13, 14, 16, 19, 20, 21, 24, 27, 31,...",0,926,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2448462,2448462,2448462,2132,OMIDYAR NETWORK INDIA ADVISORS PRIVATE LIMITED,U93000MH2009PTC196403,"Community, personal & Social Services",20.0,"[1, 2, 3, 5, 7, 8, 16, 20, 21, 24, 28, 33, 39,...",0,926,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2451906,2451906,2451906,2135,BRIJWASI BULLIONS AND JEWELLERS PRIVATE LIMITE...,U92199DL2002PTC148186,"Community, personal & Social Services",20.0,"[1, 2, 3, 5, 7, 8, 16, 20, 21, 24, 28, 33, 39,...",0,926,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2458804,2458804,2458804,2141,PODDAR HOUSING AND DEVELOPMENT LIMITED,L51909MH1982PLC143066,Trading,15.0,"[9, 11, 12, 16, 20, 21, 24, 26, 27, 28, 30, 31...",0,936,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2461100,2461100,2461100,2143,J K TECHNOSOFT LIMITED,U64202DL1988PLC030870,"Transport, storage and Communications",16.0,"[15, 16, 20, 21, 24, 32, 33, 35, 36, 37, 50]",0,936,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2462248,2462248,2462248,2144,KANGAROO KIDS EDUCATION LIMITED,U99999MH2001PLC134339,Others,2.0,"[1, 2, 6, 8, 9, 11, 16, 19, 20, 21, 23, 24, 27...",0,936,...,1,0,0,NaN,NaN,NaN,0,1,1,1
2478349,2478349,2478349,2158,DISTANT HORIZON ORCHARD PVT LTD,U74899WB1991PTC117430,Business Services,1.0,"[8, 9, 11, 13, 14, 16, 19, 20, 21, 24, 27, 31,...",0,965,...,1,0,0,NaN,NaN,NaN,0,1,1,1

dataDf["non_backward"] = dataDf["is_backward"].apply(lambda x: 0 if x == 1 else 1)
not_aligned = []
for i in range(dataDf.shape[0]):
    not_aligned.append(1-(dataDf.iloc[i]["stateAlignment"] or dataDf.iloc[i]["centerAlignment"]))
dataDf["not_aligned"] = not_aligned

In [8]:
dataDf['rs_mplad_dist'] = dataDf['rs_mplad_dist'].fillna(0)

In [9]:
reqdCols = ['Type', 'Margin %', 'isMPMinister', 'centerAlignment', 'stateAlignment', 'not_aligned', 'rs_mplad_dist', 'is_backward', 'non_backward', 'ministry_comp_intersection', 'invested']

In [10]:
for c in reqdCols:
    print(c, pd.isna(dataDf[c]).sum())

Type 51796
Margin % 51796
isMPMinister 0
centerAlignment 0
stateAlignment 0
not_aligned 0
rs_mplad_dist 0
is_backward 0
non_backward 0
ministry_comp_intersection 0
invested 0

In [11]:
df = dataDf[reqdCols].dropna().reset_index(drop=True)

In [12]:
df.shape

(2533500, 11)

In [13]:
positiveDf = df[df['invested'] == 1]

In [14]:
positiveDf.shape

(8165, 11)

In [15]:
negativeDf = df[df['invested'] == 0]

In [16]:
sampledEg = negativeDf.sample(n=10000)

In [17]:
finalDf = pd.concat((positiveDf, sampledEg), axis=0)

In [18]:
finalDf.rename({'Margin %':'Margin'}, axis=1, inplace=True)

In [19]:
finalDf.shape

(18165, 11)

In [20]:
finalDf.head()

,Type,Margin,isMPMinister,centerAlignment,stateAlignment,not_aligned,rs_mplad_dist,is_backward,non_backward,ministry_comp_intersection,invested
3,GEN,5.1,0.0,1,1,0,0.0,0,1,0,1
4,GEN,8.3,0.0,1,1,0,0.0,0,1,0,1
1128,GEN,5.1,0.0,1,1,0,0.0,0,1,0,1
1129,GEN,8.3,0.0,1,1,0,0.0,0,1,0,1
1848,GEN,5.6,0.0,0,1,0,0.0,0,1,0,1

In [21]:
finalDf.reset_index(drop=True, inplace=True)

In [22]:
finalDf = pd.concat((pd.get_dummies(finalDf['Type']), finalDf), axis=1).drop('Type', axis=1)

In [25]:
model1 = logit("invested ~ GEN:non_backward  + SC:non_backward + ST:non_backward + GEN:is_backward  + SC:is_backward + ST:is_backward", finalDf).fit(maxiter=1000)
model1.summary()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.658223
         Iterations: 1000

/home/manikaran/anaconda3/lib/python3.6/site-packages/statsmodels/base/model.py:508: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
/home/manikaran/anaconda3/lib/python3.6/site-packages/statsmodels/base/model.py:1092: RuntimeWarning: invalid value encountered in sqrt
  bse_ = np.sqrt(np.diag(self.cov_params()))
/home/manikaran/anaconda3/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
/home/manikaran/anaconda3/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
/home/manikaran/anaconda3/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               invested   No. Observations:                18165
Model:                          Logit   Df Residuals:                    18159
Method:                           MLE   Df Model:                            5
Date:                Tue, 23 Apr 2019   Pseudo R-squ.:                 0.04333
Time:                        19:55:52   Log-Likelihood:                -11957.
converged:                      False   LL-Null:                       -12498.
                                        LLR p-value:                6.080e-232
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept           -0.8906        nan        nan        nan         nan         nan
GEN:non_backward     0.9621        nan        nan        nan         nan         nan
SC:non_backward      0.3885        nan        nan        nan         nan         nan
ST:non_backward      0.0789        nan        nan        nan         nan         nan
GEN:is_backward     -0.6789        nan        nan        nan         nan         nan
SC:is_backward      -0.8844        nan        nan        nan         nan         nan
ST:is_backward      -0.8015        nan        nan        nan         nan         nan
====================================================================================
"""

In [45]:
model4 = logit("invested ~  GEN:non_backward  + SC:non_backward + ST:non_backward + GEN:is_backward  + SC:is_backward + ST:is_backward + Margin", finalDf).fit(method='cg', maxiter=1000)
model4.summary()

Optimization terminated successfully.
         Current function value: 0.654809
         Iterations: 68
         Function evaluations: 188
         Gradient evaluations: 188

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               invested   No. Observations:                18165
Model:                          Logit   Df Residuals:                    18158
Method:                           MLE   Df Model:                            6
Date:                Wed, 24 Apr 2019   Pseudo R-squ.:                 0.04829
Time:                        15:00:18   Log-Likelihood:                -11895.
converged:                       True   LL-Null:                       -12498.
                                        LLR p-value:                1.363e-257
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept           -1.1007   5.46e+04  -2.02e-05      1.000   -1.07e+05    1.07e+05
GEN:non_backward     0.9108   5.46e+04   1.67e-05      1.000   -1.07e+05    1.07e+05
SC:non_backward      0.3480   5.46e+04   6.38e-06      1.000   -1.07e+05    1.07e+05
ST:non_backward      0.0331   5.46e+04   6.07e-07      1.000   -1.07e+05    1.07e+05
GEN:is_backward     -0.6815   5.46e+04  -1.25e-05      1.000   -1.07e+05    1.07e+05
SC:is_backward      -0.9279   5.46e+04   -1.7e-05      1.000   -1.07e+05    1.07e+05
ST:is_backward      -0.7833   5.46e+04  -1.44e-05      1.000   -1.07e+05    1.07e+05
Margin               0.0159      0.001     11.088      0.000       0.013       0.019
====================================================================================
"""

In [ ]:
invested = finalDf['invested']

In [27]:
model5 = logit("invested ~ stateAlignment + centerAlignment + not_aligned", finalDf).fit()
model5.summary()

Optimization terminated successfully.
         Current function value: 0.679548
         Iterations 4

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               invested   No. Observations:                18165
Model:                          Logit   Df Residuals:                    18161
Method:                           MLE   Df Model:                            3
Date:                Tue, 23 Apr 2019   Pseudo R-squ.:                 0.01234
Time:                        19:56:51   Log-Likelihood:                -12344.
converged:                       True   LL-Null:                       -12498.
                                        LLR p-value:                 1.529e-66
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          -0.7114      0.050    -14.123      0.000      -0.810      -0.613
stateAlignment      0.6379      0.041     15.575      0.000       0.558       0.718
centerAlignment     0.0798      0.037      2.139      0.032       0.007       0.153
not_aligned         0.2294      0.067      3.418      0.001       0.098       0.361
===================================================================================
"""

In [28]:
model6 = logit("invested ~ stateAlignment + centerAlignment + not_aligned + isMPMinister + rs_mplad_dist", finalDf).fit()
model6.summary()

Optimization terminated successfully.
         Current function value: 0.674618
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               invested   No. Observations:                18165
Model:                          Logit   Df Residuals:                    18159
Method:                           MLE   Df Model:                            5
Date:                Tue, 23 Apr 2019   Pseudo R-squ.:                 0.01950
Time:                        19:56:58   Log-Likelihood:                -12254.
converged:                       True   LL-Null:                       -12498.
                                        LLR p-value:                4.054e-103
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          -0.7319      0.051    -14.432      0.000      -0.831      -0.632
stateAlignment      0.6485      0.041     15.694      0.000       0.568       0.730
centerAlignment     0.0377      0.038      0.985      0.325      -0.037       0.113
not_aligned         0.2382      0.067      3.534      0.000       0.106       0.370
isMPMinister       -0.0258      0.054     -0.482      0.629      -0.131       0.079
rs_mplad_dist       1.0751      0.084     12.828      0.000       0.911       1.239
===================================================================================
"""

In [29]:
model7 = logit("invested ~ stateAlignment + centerAlignment + not_aligned + isMPMinister + rs_mplad_dist + Margin", finalDf).fit()
model7.summary()

Optimization terminated successfully.
         Current function value: 0.670829
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               invested   No. Observations:                18165
Model:                          Logit   Df Residuals:                    18158
Method:                           MLE   Df Model:                            6
Date:                Tue, 23 Apr 2019   Pseudo R-squ.:                 0.02501
Time:                        19:57:09   Log-Likelihood:                -12186.
converged:                       True   LL-Null:                       -12498.
                                        LLR p-value:                8.783e-132
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          -0.8662      0.052    -16.582      0.000      -0.969      -0.764
stateAlignment      0.5589      0.042     13.269      0.000       0.476       0.641
centerAlignment    -0.1032      0.040     -2.559      0.011      -0.182      -0.024
not_aligned         0.2086      0.068      3.083      0.002       0.076       0.341
isMPMinister       -0.0307      0.054     -0.573      0.567      -0.136       0.074
rs_mplad_dist       1.1146      0.084     13.281      0.000       0.950       1.279
Margin              0.0177      0.002     11.665      0.000       0.015       0.021
===================================================================================
"""

In [30]:
model8 = logit("invested ~ stateAlignment + centerAlignment + not_aligned + isMPMinister + rs_mplad_dist + ministry_comp_intersection", finalDf).fit()
model8.summary()

Optimization terminated successfully.
         Current function value: 0.674054
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               invested   No. Observations:                18165
Model:                          Logit   Df Residuals:                    18158
Method:                           MLE   Df Model:                            6
Date:                Tue, 23 Apr 2019   Pseudo R-squ.:                 0.02032
Time:                        19:57:25   Log-Likelihood:                -12244.
converged:                       True   LL-Null:                       -12498.
                                        LLR p-value:                1.622e-106
==============================================================================================
                                 coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                     -0.7264      0.051    -14.313      0.000      -0.826      -0.627
stateAlignment                 0.6439      0.041     15.569      0.000       0.563       0.725
centerAlignment                0.0345      0.038      0.899      0.368      -0.041       0.110
not_aligned                    0.2323      0.067      3.446      0.001       0.100       0.364
isMPMinister                   0.0957      0.060      1.600      0.110      -0.022       0.213
rs_mplad_dist                  1.1691      0.087     13.424      0.000       0.998       1.340
ministry_comp_intersection    -0.4568      0.101     -4.502      0.000      -0.656      -0.258
==============================================================================================
"""